<footer>
			<div class="company-info bg-light">
				<div>
					<ul class=" tp footer-list nobullets">
						<li>&copy; Teacher's Notes</li>
						<li>All Rights Reserved</li>
						<li>2021</li>
					</ul>
				</div>
				<div>
					<h4 class="fs-125 column-title">Our Location</h4>
					<hr class="divider-line" />
					<ul class="footer-list nobullets">
						<li>Suite 291 </li>
						<li> 47 Bay Street.</li>
						<li>Toronto, ON K4E 1N8</li>
						<li>Canada</li>
					</ul>
				</div>
				<div>
					<h4 class="fs-125 column-title">Quick Links</h4>
					<hr class="divider-line" />
					<ul class="footer-list nobullets">
						<li><a class="link" href="#">Help Center</a></li>
						<li><a class="link" href="#">Terms & Conditions</a></li>
						<li><a class="link" href="#">Privacy Policy</a></li>
					</ul>
					<div class="link-icons">
						<a class="link" href="#">
							<p class="sr-only">link to company's twitter account</p>
							<i class="social-media fab fa-twitter fa-lg" aria-hidden="true"></i
						></a>
						<a class="link" href="#">
							<p class="sr-only">link to company's facebook account</p>
							<i class="social-media fab fa-facebook fa-lg" aria-hidden="true"></i
						></a>
						<a class="link" href="#">
							<p class="sr-only">link to company's instagram account</p>
							<i class="social-media fab fa-instagram fa-lg" aria-hidden="true"></i
						></a>
					</div>
        </div>
		  </div>
	  </footer>