<div class="image-slide">
<div id="carouselExampleDark" class="carousel carousel-dark slide pt-1 px-1 pb-5 " data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <%=image_tag("edu.png", class: "d-block w-100", alt: "Student learning in front of the computer")%>
      <div class="carousel-caption d-md-block">
        <p class="bold d-none carousel-caption  d-md-block fs-4 mb-sm-5 shadow-w">Join our community of educators to share your ideas!</p>
        <%=link_to "Join now", :sign_up, class: "btn btn-warning "%>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <%=image_tag("school1.jpg", class: "d-block w-100", alt: "Girl having an online lesson")%>
      <div class="carousel-caption d-none d-md-block">
        <p class="bold color-white fs-4">Engage your students!</p>
      </div>
    </div>
    <div class="carousel-item data-bs-interval="4000"">
      <%=image_tag("pencil-bg.jpg", class: "d-block w-100", alt: "Brown background with text: 'Browse our catalogue of short activities to bring your online lessons to the next level'")%>
    </div>
  </div>
</div>
</div>
