// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "application.scss";

/* || HEADING */

h1 {
  letter-spacing: 3px;
  font-family: "Architects Daughter";
}

.sub-text {
  padding: 1rem;
}

/* || FILTER */

.filter-button {
  margin: 0 auto;
  display: block !important;
}

/* || ACTIVITY CARD */

.activity-heading {
  display: flex;
  align-items: center;
}

.categories-div {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.category {
  background-color: #6f90af;
  padding: 0.125rem 0.25rem;
  margin-right: 0.25rem;
  border-radius: 4px;
  font-size: 0.875rem;
  color: mintcream;
}

.user-name {
  text-decoration: none;
  // background-color: #638f37;
  padding: 0.125rem 0.25rem;
  // margin-right:0.25rem;
  // border-radius:4px;
  // font-size: 0.875rem;
  color: #017bfd;
}

.user-name:hover {
  color: #183da3;
}

.user-action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.user-action-buttons * {
  margin: 0 0.5rem;
}

.heart_icon {
  margin-right: 0;
  cursor: pointer;
  color: rgb(253, 106, 130);
}

.heart_icon:hover {
  color: rgb(235, 1, 1);
}

.liked {
  color: rgb(235, 1, 1);
}

.card-icon {
  width: 5rem;
  margin: 0.5rem;
  padding-right: 1rem;
}

.create-wrapper {
  max-width: 800px;
  margin: 1.5rem auto 1rem;
  padding: 1rem;
}

.create-activity-heading {
  margin: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-activity-heading img {
  padding-right: 0;
}

/* || MEDIA */

@media (min-width: 37.5em) {
  .sub-text {
    padding: 1rem 5rem;
  }
}

@media (min-width: 62.5em) {
  .sub-text {
    padding: 1rem 12rem;
  }
}