/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navigation{
border-bottom: 1px solid rgb(224, 224, 224);
   background-color: rgb(236, 235, 250);
 }

 .nav-link{
   position: relative;
   color: rgb(28, 28, 32)!important;

 }

 .nav-link::after {
		position: absolute;
		content: "";
		width: 80%;
		height: 2px;
		top: 90%;
		left: 10%;
		background-color: rgb(28, 28, 32);
		transition: transform 0.3s;
		transform: scaleX(0);
		transform-origin: left;
	}

	.nav-link:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}