// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#comments {
  margin: 0.5rem 1rem;
  padding: 0.5rem;
}

.comment-username,
.comment-body {
  padding: 0;
  margin: 0;
}
