// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* || GENERAL STYLES */

html {
	scroll-behavior: smooth;
}

body {
	color: rgb(44, 44, 49) !important;
}

.link {
	text-decoration: none;
	text-align: center;
	color: inherit;
}

.link:hover {
	color: #ea5b0c;
}

#logged-in {
	width: fit-content;
	border-bottom: 1px solid rgb(228, 222, 222);
}

#logged-in span {
	color: #ea5b0c;
}

/* || UTILITIES */

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.fs-125 {
	font-size: 1.125rem;
}

.bold {
	font-weight: bold;
}

.text-justify {
  text-align: justify;
}

.shadow-white {
	text-shadow: -3px -1px 13px rgba(211, 211, 211, 1);
}

.nobullets {
	list-style-type: none;
}

.orange{
  color: #ea5b0c !important;
}

.width-fc{
  width: fit-content !important;
}

/* || NAVIGATION */

.menu-icon {
	width: 4rem;
	height: auto;
}

.logo {
	padding: 0.25rem 0.5rem;
}

.navbar-brand {
	padding-left: 0.375rem;
	text-decoration: none;
}

#brand-text-long, #brand-text-short {
	font-size: 1.5rem;
	letter-spacing: 1px;
	font-family: "Balsamiq Sans";
}

#brand-text-short {
  display:none;
}

.navbar-collapse {
	margin-left: 0rem;
	justify-content: space-between;
}

.navbar-collapse * {
	padding-right: 0.125rem;
}

ul {
	margin-bottom: 0 !important;
}

.nav-link {
	width: fit-content;
	border-radius: 4px;
	color: rgb(48, 48, 58) !important;
}

.nav-link:hover {
	color: #ea5b0c !important;
}

/* || HOME */

.home{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.home-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.image-slide {
	width: 70%;
	margin: 0 auto;
}

.image-slide img {
	border-radius: 5px;
}

.car-cap{
  border-radius: 7px;
}

/* || FOOTER */

footer {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	color: rgb(48, 48, 58);
}

.company-info {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 1.5rem;
}

.column-title {
	margin-top: 0.5rem;
	margin-bottom: 0;
}

.divider-line {
	margin: 1rem 0 0.5rem;
	width: 50px;
	height: 2px !important;
	border: none;
	background-color: rgb(63, 63, 75);
	opacity: 0.8 !important;
}

.footer-list {
	padding: 0;
}

.social-media {
	margin: 0.25rem;
}

/* || MEDIA */

@media (max-width: 20.0625em) {
	/* || NAVIGATION */

	#brand-text-long {
		display: none;
	}
  #brand-text-short {
    display:inline;
  }

}

@media (max-width: 24.5em) {
	/* || NAVIGATION */

	#brand-text-long {
		font-size: 1.1rem;
	}

	.logo {
		padding: 0.5rem 0.5rem;
	}

}

@media (min-width: 43.125em) {
	/* || FOOTER */

	.company-info {
		display: flex;
		flex-direction: row;
		padding: 1rem 4rem 0.5rem;
		justify-content: space-between;
	}

	.tp {
		padding-top: 40%;
	}

	.webpage-info {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media (min-width: 48.125em) {
	/* || FOOTER */

	.company-info {
		justify-content: space-evenly;
	}
}

@media (max-width: 50em) {
  /* || HOME */
.image-slide {
	width: 100%;
}
}

@media (min-width: 60em) {
  /* || HOME */
.home{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home div:first-of-type{
flex:1;
}
}

@media (min-width: 65em) {
.navbar-collapse * {
	padding-right: 0.5rem;
}
}