// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




.menu-icon{
  width:4rem;
  height:auto;
}
.logo {
  padding: 0.25rem 0.5rem;
}
.navbar-brand {
  padding-left: 0.375rem;
  text-decoration: none;
}
.link {
  text-decoration: none;
}

.navbar-collapse {
  // flex-grow: 0;
  margin-left: 0rem;
  justify-content: space-between;
}
.navbar-collapse * {
  padding-right: 0.5rem;
}

#brand-text{
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family:"Balsamiq Sans";
  color: #ea5b0c;
  
}

// #brand-text span{
//   color: #cc4c0c;
// }

@media (max-width: 321px) {
  #brand-text {
    display: none;
  }
}

@media (max-width: 380px) {
  #brand-text {
    font-size: 1.1rem;
  }
  .logo {
  padding: 0.5rem 0.5rem;
}
}

ul{
  margin-bottom:0 !important; 
}

html{
  scroll-behavior: smooth;
}

body{
  // background-color: rgb(255, 254, 249) !important;
  color: rgb(44, 44, 49)!important;
}



 .navigation{
// border-bottom: 1px solid #e2d7a5;
  //  background-color: #fff6cb;
 }

 .nav-link{
   width:fit-content;
   border-radius:4px;
   color: rgb(48, 48, 58)!important;

 }

 .nav-link:hover{
  //  padding:0;
  //  background-color:var(--bs-primary);
   color:#ea5b0c !important;





 }
 #logged-in{
   width: fit-content;
  // border-radius: 4px;
  border-bottom: 1px solid rgb(228, 222, 222);
  // background-color: rgb(170, 196, 206);

 }

 #logged-in span{
   color: #ea5b0c;
 }


 .fs-125{
  font-size: 1.125rem;
}

.bold{
  font-weight:bold;
}

 footer {
  //  padding-bottom:1rem;
   border-top: 1px solid #dddddd;
	// background-color: #fff2b8;
	color: rgb(48, 48, 58);
}

.company-info {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 1.5rem;
}

.column-title {
	margin-top: 0.5rem;
	margin-bottom: 0;
}

.divider-line {
	margin: 1rem 0 0.5rem;
	width: 50px;
	height: 2px !important;
	border: none;
	background-color: rgb(63, 63, 75);
  opacity: 0.8 !important;
}

.footer-list {
	padding: 0;
}

.social-media{
	margin: 0.25rem;
	// color: var(--color-white);
}





.link {
	text-decoration: none;
	text-align: center;
	color: inherit;
}

.link:hover{
  color: #ea5b0c;
}
.nobullets {
	list-style-type: none;
}
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

@media (min-width: 43.125em) {
  .company-info {
		display: flex;
		flex-direction: row;
		padding: 1rem 4rem 0.5rem;
		justify-content: space-between;

    
	}
   .tp{
     padding-top: 40%;
   }

	.webpage-info {
		flex-direction: row;
		justify-content: space-between;
	}
}


@media (min-width: 48.125em) {
  /* || FOOTER */

	.company-info {
		justify-content: space-evenly;
	}
}